@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,700');

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.container {
    flex: 1 0 auto;
    width: 1366px;
    min-width: 40%;
    margin: 0 auto;
    height: 100%;
}

.header {
    height: 800px;
    min-height: 20%;
    max-width: 100%;
    background-image: url('../IMGmaket/bcg.jpg');
    background-size: contain;
}

.logo img {
    height: 22px;
    width: 185px;
    max-width: 100%;
    margin-left: 98px;
    margin-top: 74px;
}

.menu {
    float: right;
    margin-right: 211px;
    margin-top: 67px;
    margin-bottom: 651px;
    height: 10px;
    max-height: 100%;
}

.menu li {
    float: left;
    list-style-type: none;
    max-height: 100%;
}

.menu li a {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 48px;
    text-align: right;
    text-decoration: none;
    display: block;
    padding: 0 20px;
}

.menu .loop {
    height: 23px;
    width: 23px;
    padding-top: 9px;
    padding-left: 0px;
}

.menu .loop:hover {
    text-decoration: none;
    border-bottom: none;
}

.menu li a:hover {
    color: #212121;
    font-weight: 700;
    border-bottom: 1px solid black;
}

.text {
    max-width: 458px;
    max-height: 210px;
    float: left;
    margin-top: 288px;
    margin-left: 98px;
    margin-bottom: 200px;
}

.text h3 {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 8px;
}

.text h1 {
    color: #212121;
    font-size: 52px;
    font-weight: 100;
    line-height: 52px;
    margin-bottom: 20px;
}

.text p {
    color: #6c6c6c;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 32px;
}

.text a {
    display: block;
    background: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    max-width: 212px;
    max-height: 45px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 22px;
    text-align: center;
    line-height: 45px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
}

.text a:hover {
    background: #ffffff url('../IMGmaket/arrow.png') no-repeat 173px 16px;
}

.dots {
    display: block;
    background-image: url('../IMGmaket/dot2.png');
    background-size: contain;
    max-height: 40px;
    max-width: 120px;
    margin: 623px 656px 19px;
}

.dots:hover {
    display: block;
    max-height: 40px;
    max-width: 120px;
    background-image: url('../IMGmaket/dot1.png');
    background-size: contain;
    margin: 623px 656px 19px;
}

.featured {
    float: left;
    max-width: 683px;
    max-height: 1278.5px;
    background-color: aqua;
    background-color: #ffffff;
}

.menu2 {
    margin-left: 107px;
    text-align: left;
    font-weight: 800;
    margin-left: 98px;
    margin-top: 120px;
}

.menu2 li {
    list-style-type: none;
    float: left;
}

.menu2 li a {
    display: block;
    text-decoration: none;
    float: right;
    color: #6c6c6c;
    border-bottom: solid 1px #6c6c6c;
    padding: 0 15px;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
}

.menu2 li a:hover {
    color: #212121;
    border-bottom: solid 3px #212121;
}

.ExpAll {
    float: left;
    max-width: 683px;
    max-height: 1140.5px;
    margin-left: 0;
    margin-top: 138px;
    background-color: #ffffff;
}

.ExAll {
    display: block;
    float: right;
    list-style-type: none;
    margin-right: 98px;
    text-decoration: none;
    font-size: 18px;
    color: #212121;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
}

.prods {
    height: 270px;
    margin-left: 98px;
    margin-top: 220px;
}

.prods2 {
    height: 270px;
    margin-top: 81px;
    margin-left: 15px;
}

.products1,
.products3 {
    width: 270px;
    height: 270px;
    float: left;
}

.products1 {
    position: relative;
    max-width: 270px;
    max-height: 270px;
    background-image: url('../IMGmaket/pr1.jpg');
    background-size: contain;
    min-height: 20%;
}

.absac {
    position: absolute;
    width: 270px;
    height: 270px;
    background-color: #ffffff;
    left: 0;
    top: 0;
    z-index: 1;
    display: none;
    opacity: 0.9;
}

.products1:hover .absac {
    display: block;
}

.absac a {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    color: #212121;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    text-align: center;
    line-height: 45px;
    margin: 62px 111px 0;
    background: #ffffff url('../IMGmaket/arrow.png') no-repeat 173px 15px;

}

.absac a img {
    width: 12px;
    height: 20px;
    margin-top: 14px;
}

.absac h3 {
    color: #212121;
    font-weight: 700;
    font-size: 22px;
    line-height: 29.88px;
    margin-top: 15px;
    margin-bottom: 18px;
    text-align: center;
}

.absac p {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
    text-align: center;
    margin-top: 23px;
}

.products2,
.products4 {
    border-style: none;
    max-width: 270px;
    max-height: 270px;
    float: right;
    margin-right: 15px;
    margin-left: 30px;
}

.products4 {
    margin-right: 96px;
}

.exclusive1,
.exclusive2 {
    width: 683px;
    height: 683px;
    margin-top: 120px;
}

.exclus1,
.exclus2 {
    width: 372px;
    margin-top: 228px;
    margin-left: 51px;
}

h3 {
    color: #1e88e5;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 18px;
}

h1 {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 25px;
}

p {
    color: #6c6c6c;
    font-weight: 300;
    font-size: 14.02px;
    letter-spacing: -0.5px;
    margin-bottom: 35px;
}

.exclusive1 {
    background-image: url('../IMGmaket/pr16.jpg');
    background-size: contain;
    float: left;
}

.exclusive2 {
    background-image: url('../IMGmaket/pr17.jpg');
    background-size: contain;
    float: left;
}

.exclus1 a,
.exclus2 a {
    display: block;
    max-width: 212px;
    height: 45px;
    border-radius: 22px;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    text-align: center;
    line-height: 45px;
}

.exclus1 a:hover,
.exclus2 a:hover {
    background: #ffffff url('../IMGmaket/arrow.png') no-repeat 173px 15px;
    }

.trendingP {
    max-height: 1108px;
}

.trendingP h3 {
    margin-top: 119px;
    margin-left: 98px;
    font-size: 36px;
    font-weight: 700;
    color: #212121;
    float: left;
}

.trendingP .ExAll {
    margin-top: 137px;
}


.catalog {
    max-height: 771px;
    float: left;
    margin-top: 62px;
    margin-left: 98px;
    margin-bottom: 120px;
}

.lot li {
    list-style-type: none;
    display: inline-block;
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
}

.clear {
    display: block;
    height: auto;
    clear: both;
}

.HotDeal {
    max-height: 800px;
    background-image: url('../IMGmaket/001.jpg');
    background-size: contain;
}

.HD {
    max-width: 468px;
    margin-top: 286px;
    margin-left: 98px;
    float: left;
}

.HD h3 {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 21px;
}

.HD h1 {
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: -2px;
    margin-bottom: 34px;
}

.HD p {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #6c6c6c;
    margin-bottom: 32px;
}

.HD a {
    display: block;
    max-width: 212px;
    max-height: 45px;
    border-radius: 22px;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    text-align: center;
    line-height: 45px;
}

.HD a:hover {
    background: #ffffff url('../IMGmaket/arrow.png') no-repeat 173px 15px;
    }

.HotDeal .dots {
    display: block;
    background-image: url('../IMGmaket/dot2.png');
    height: 40px;
    width: 120px;
    margin: 740px 623px 20px;
}

.HotDeal .dots:hover {
    display: block;
    max-height: 40px;
    max-width: 120px;
    background-image: url('../IMGmaket/dot1.png');
    background-size: contain;
}

.chair {
    max-height: 800px;
    margin-top: 120px;
    margin-left: 90px;
}

.ch1 {
    width: 570px;
    height: 570px;
    float: left;
    background-image: url('../IMGmaket/pr5.jpg');
    background-size: contain;
}

.ch2 {
    width: 698px;
    height: 570px;
    float: right;
}

.CR {
    width: 336px;
    margin-left: 31px;
    margin-top: 186px;
}

.CR h3 {
    color: #1e88e5;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 18px;
}

.CR h1 {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 25px;
}

.CR p {
    color: #6c6c6c;
    font-weight: 300;
    font-size: 14.02px;
    letter-spacing: -0.5px;
    margin-bottom: 35px;
}

.CR a {
    display: block;
    width: 212px;
    height: 45px;
    border-radius: 22px;
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    text-align: center;
    line-height: 45px;
}

.CR a:hover {
    background: #ffffff url('../IMGmaket/arrow.png') no-repeat 173px 15px;
}

ch2 {
    float: left;
}

.block1,
.block2,
.block3,
.block4 {
    width: 270px;
    height: 270px;
    float: left;
    margin: 0 15px 30px;
}

.block1 {
    background: url('../IMGmaket/pr6.jpg');
}
.block2 {
    background: url('../IMGmaket/pr7.jpg');
}

.block3 {
    background: url('../IMGmaket/pr8.jpg)';
}

.block4 {
    background: url('../IMGmaket/pr9.jpg');
}

.mob {
    height: 516px;
    margin-top: 120px;
    background: url('../IMGmaket/app.jpg');
}

.mobil {
    width: 430px;
    margin-top: 125px;
    float: left;
}

.mobil h3 {
    color: #6c6c6c;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 21px;
}

.mobil h1 {
    color: #212121;
    font-weight: 100;
    font-size: 62px;
    margin-bottom: 26px;
    letter-spacing: -4px;
}

.mobil p {
    color: #6c6c6c;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 33px;
}

.footer {
    background-color: #f7f7f7;
    height: 384px;
}

.contacts {
    margin-top: 120px;
    margin-left: 98px;
    width: 225px;
    height: 147px;
    float: left;
}

.contacts h3,
.info h3,
.form h3 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
}

.contacts p {
    margin-bottom: 33px;
    color: #212121;
    font-weight: 300;
    font-size: 14px;
}

.info {
    margin-left: 80px;
    float: left;
    margin-top: 120px;
}

.info table td {
    width: 235px;
    height: 26px;
}

.info table td a {
    text-decoration: none;
    color: #212121;
    font-weight: 700;
    font-size: 14px;
}

.form {
    width: 380px;
    height: 147px;
    margin-left: 30px;
    float: left;
    margin-top: 120px;
}

.form p {
    color: #212121;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 26px;
}

.form input[placeholder="your email addres"] {
    font-size: 14px;
    font-weight: 300;
    padding-left: 20px;
}

.form input {
    width: 302px;
    height: 48px;
    background-color: #ffffff;
    outline: 1px solid #d9dee1;
    float: left;
}

.form input[type="submit"] {
    height: 52px;
    width: 48px;
    background: #ffffff url('../IMGmaket/arrow1.jpg');
    outline: 1px solid #d9dee1;
    float: left;
}

.google-pluse a:hover {
    background: #DD4B39;
    color: #fff;
}

.twitter a:hover {
    background: #00acee;
    color: #fff;
}

.facebook a:hover {
    background: #3b5998;
    color: #fff;
}

.pinterest a:hover {
    background: #c8232c;
    color: #fff;
}

.bottom {
    clear: both;
    margin-top: 60px;
    float: left;
    width: 1366px;
}

.copy {
    float: left;
    width: 365px;
    margin-left: 98px;
}

.copy p {
    font-size: 12px;
    font-weight: 700;
    color: #6c6c6c;
}

.cookies {
    float: right;
    font-size: 12px;
    font-weight: 700;
    color: #6c6c6c;
    margin-right: 98px;
}

.icons {
    display: flex;
    float: left;
    margin-left: 158px;
}

.icons a {
    text-decoration: none;
    color: white;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 25px;
}

.icons a:hover {
    background: lightgrey;
}

@media screen and (max-width: 300px) {
    .container {
        min-width: 300px;
    }

    .header {
        min-width: 300px;
    }

    .footer {
        min-width: 300px;
    }
}
